body {
    background-color: grey;
    color: white}

h1 {
    width:500px;
    margin: 0 auto;
    background: gray;
    text-align: center;
    }

.spidey-avatar {
    width:200px;
    height: 200px;
}

.search {
    width: 1000px;
}